* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: #EFEFEF;
	color: #080808;
    font-family: 'Work Sans', sans-serif;
	text-align: center;
}

.skewed-section{
	position: absolute	;
	max-height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
}

/* ? ----- PORTADA ----- */
.portada {
	height: 100vh;
	width: 100vw;
	text-align: center;
}

.portada.oculta {
	transform: translateY(100%);
}

.portada .header {
	margin-bottom: 100px;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-size: 50px;
	font-size: 900;
	margin-bottom: 20px;
}

.portada .header .mensaje {
	font-size: 30px;
	font-weight: 600;
}

/* ? ----- Cuenta Regresiva ----- */
#cuenta {
	display: flex;
	justify-content: center;
	margin-bottom: 100px;
	flex-direction: row;
}

.simply-section {
	width: 180px;
	height: 180px;
	margin: 0 20px;
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #ffffff;
	margin: 15px;
}

.simply-amount {
	display: block;
	font-size: 50px;
	font-weight: 700;
}

.simply-word {
	font-weight: 300;
	font-size: 30px;
}

.count-content{
	width: 100vw;
	height: 100%;
	overflow: scroll;
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 0%;
}

.logotipo-fr,
.logotipo{
	font-size: 3vw;
}

.skewed,
.skewed-second,
.skewed-third {
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	width: 100vw;
	height: 40vh;
	background: #8BB9E3;
	z-index: 0;
  }

.skewed-second {
	background: #ffffff;
  }

.skewed-third {
	background: #8BB9E3;
  }

.skewed-section-fr{
	position: absolute;
	max-height: 100vh;
	width: 100vw;
	display: flex;
}
.skewed-container-fr{
	display: flex;
	justify-content: center;
}

.skewed-fr,
.skewed-second-fr,
.skewed-third-fr {
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	width: calc(100vw / 3);
	height: 100vh;
	background: #192B6D;
	z-index: 0;
  }

.skewed-second-fr {
	background: #ffffff;
  }

.skewed-third-fr {
	background: #F00F15;
  }

@media (max-width: 800px) {
	.logotipo{
		font-size: 5vw;
		margin-top: 400px;
	}
    #cuenta{
		flex-direction: column !important;
		align-items: center;
		margin-bottom: 0px;
		margin-top: 30vh;
	}
	.simply-amount{
		font-size: 30px;
	}
	.simply-word {
		font-size: 20px;
	}
	.count-content{
		height: auto;
		max-height: 100vh;
		overflow: scroll;
	}
 }
